.containerGrid {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

@media (max-width: 728px) {
  .containerGrid {
    grid-template-columns: 1fr;
  }
}

.cardGrid {
  border: 1px solid black;
  text-align: center;
}

/* .card:first-child {
  grid-column: 1 / span 2;
}
.card:last-child {
  grid-column: 1 / span 2;
} */
/* .card:nth-child(4) {
  grid-column: 1 / span 2;
} */

@media (min-width: 729px) {
  .cardGrid:nth-child(1) {
  grid-column: 1 / span 2;
}

.cardGrid:nth-child(5) {
  grid-column: 1 / span 2;
}

.cardGrid:nth-child(2) {
  grid-row: 2 / span 2;
}
}