.positions-container {
  /* display: grid; */
  /* flex-wrap: wrap; */
  margin: 1rem;
  border: 2px solid black;
  /* background-color: yellow; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 3fr; */
  /* height: 200px; */
  /* overflow: hidden; */
  /* position: relative; */
}

/* .parent-c {
  margin: 4rem;
  border: 1px solid black;
  overflow: scroll;
  height: 500px;
  background: aqua;
} */

.positions-item {
  border: 1px solid gray;
  margin: 10px;
  padding: 20px;
}

#positions-button {
  background-color: lightgreen;
  margin: 0px 10px;
  cursor: pointer;
}

/* #positions-button {
  position: static;
} */

/* #positions-button {
  position: relative;
  top: 30px;
  left: 60px;
} */

/* #positions-button {
  position: absolute;
  top: 30px;
  left: 60px;
} */

/* #positions-button {
  position: fixed;
  top: 30px;
  left: 60px;
} */

/* #positions-button {
  position: sticky;
  top: 30px;
  left: 60px;
} */