.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  height: 18vh;
  width: 10vw;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  background-color: rgba(255, 238, 0, 0.359);
}
img {
  margin: 5px;
  border-radius: 5px;
}