.child {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* 
.parent {
  align-content: center;
  background-color: red;
}

.child {
  margin: auto;
  background-color: blue;
} */