/* .practice-container {
  margin: 2rem;
} */

.card3 {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content3 {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  gap: 10px;
  width: 300px;
  height: 20rem;
  background: lightblue;
}

.input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.login-button {
  margin: 10px;
  padding: 10px 50px;
  border-radius: 5px;
  background-color: aqua;
}